{{#with citizen}}
<form action="/information/change_info/{{citizen_id}}?_method=PUT" method="POST" class="change-info__form">
<div class="form-group">
    <label for="exampleInputEmail1">Chứng minh thư nhân dân</label>
    <input type="text" class="form-control" name="citizen_id" value="{{citizen_id}}">
</div>
<div class="form-group">
    <label for="exampleInputEmail1">Họ và Tên</label>
    <input type="text" class="form-control"name="citizen_name" value="{{citizen_name}}">
</div>
<div class="form-group">
    <label for="exampleInputEmail1">Ngày sinh</label>
    <input type="date" class="form-control" name="date_of_birth" value="{{date_of_birth}}">
</div>
<div class="form-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Giới tính</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="citizen_gender">
        <option value="{{citizen_gender}}"selected hidden>{{citizen_gender}}</option>
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
    </select>
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Địa chỉ hiện tại</label>
    <input type="text" class="form-control" name="current_address" value="{{current_address}}">
</div>

<div class="form-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Dân tộc</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="ethnic_id">
        <option value="{{ethnic_id}}" selected hidden>{{ethnic_group}}</option>
    </select>
</div>

<div class="form-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quốc tịch</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="citizen_nationality">
        <option value="{{citizen_nationality}}" selected hidden>{{citizen_nationality}}</option>
    </select>
</div>

<div class="form-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Tỉnh</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="city_id">
        <option value="{{city_id}}" selected hidden>{{city_name}}</option>
    </select>
</div>

<div class="form-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quận, Huyện</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="district_id">
        <option value="{{district_id}}" selected hidden>{{district_name}}</option>
    </select>
</div>

<div class="form-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Xã, Phường</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="ward_id">
        <option value="{{ward_id}}" selected hidden>{{ward_name}}</option>
    </select>
</div>

<div class="form-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Làng, Thôn, Bản</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="village_id">
        <option value="{{village_id}}" selected hidden>{{village_name}}</option>
    </select>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/with}}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const changeInfoForm = document.querySelector('.change-info__form');
        const nationalitySelect = document.querySelector('select[name="citizen_nationality"]');
        const ethnicGroupSelect = document.querySelector('select[name="ethnic_id"]');
        const inputCity = document.querySelector('select[name="city_id"]');
        const inputWard = document.querySelector('select[name="ward_id"]');
        const inputDistrict = document.querySelector('select[name="district_id"]');
        const inputVillage = document.querySelector('select[name="village_id"]');
        fetch('http://localhost:5000/information/get_countries')
            .then(data => data.json())
            .then(countries => {
                nationalitySelect.innerHTML += countries.map(country => {
                    return `
                        <option value="${country.country_name}">${country.country_name}</option>
                    `
                }).join('');
            })
        fetch('http://localhost:5000/information/get_ethnic_groups')
            .then(data => data.json())
            .then(groups => {
                ethnicGroupSelect.innerHTML += groups.map(group => {
                    return `
                        <option value="${group.ethnic_id}">${group.ethnic_group}</option>
                    `
                }).join('');
            })
        fetch('http://localhost:5000/info_level/get_info_levels/city')
            .then(data => data.json())
            .then(cities => {
                console.log(cities);
                inputCity.innerHTML += cities.map(city => {
                    return `
                        <option value="${city.city_id}">${city.name}</option>
                    `
                }).join('');
            })
        inputCity.oninput = async function() {
            await fetch(`http://localhost:5000/info_level/get_info_levels/${inputCity.value}`)
            .then(data => data.json())
            .then(districts => {
                inputDistrict.innerHTML += districts.map(district => {
                    return `
                        <option selected value="${district.district_id}">${district.name}</option>
                    `
                }).join('');
            })
            console.log(inputCity.value, inputDistrict.value);
        }

        inputDistrict.oninput = function() {
            fetch(`http://localhost:5000/info_level/get_info_levels/${inputDistrict.value}`)
            .then(data => data.json())
            .then(wards => {
                
                inputWard.innerHTML += wards.map(ward => {
                    return `
                        <option value="${ward.ward_id}">${ward.name}</option>
                    `
                }).join('');
            })
        }
        inputWard.oninput = function() {
            fetch(`http://localhost:5000/info_level/get_info_levels/${inputWard.value}`)
            .then(data => data.json())
            .then(villages => {
                
                inputVillage.innerHTML += villages.map(village => {
                    return `
                        <option value="${village.village_id}">${village.name}</option>
                    `
                }).join('');
            })
        }
        changeInfoForm.onsubmit = function(e) {
            e.preventDefault();
            changeInfoForm.submit();
        }
    })
</script>